// styles/main.scss 


// --- Resets --- //
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}


@font-face {
    font-family: "UncutSans-Medium";
    src: url('../fonts/UncutSans-Medium.otf');
}

@font-face {
    font-family: "UncutSans-Regular";
    src: url('../fonts/UncutSans-Regular.otf');
}

@font-face {
    font-family: "UncutSans-Semibold";
    src: url('../fonts/UncutSans-Semibold.otf');
}

@font-face {
    font-family: "UncutSans-Bold";
    src: url('../fonts/UncutSans-Bold.otf');
}


// --- Sass Variables -------------------- //

// Colors
$color-dark: #000;
$color-medium: #000;
$color-light: #000;


// Font families
$font-base: "UncutSans-Regular";


// Wrapper 
$wrapper--large: 2.2rem;
$wrapper--medium: 2rem;
$wrapper--small: 1.5rem;


// --- Sass Mixins ----------------------- //
$breakpoints: (
  'xsmall':  550px,
  'small':  561px,
  'medium': 767px,
  'large':  1024px
) !default;


@mixin breakpoint($breakpoint) {
    @if map-has-key($breakpoints, $breakpoint) {
      @media (min-width: map-get($breakpoints, $breakpoint)) {
        @content;
      }
    }
}

// --- Sass Extends ---------------------- //

// Displays
.hide {
    display: none;
}

.block {
    display: block;
}

@include breakpoint('medium') {
    .large--block {
        display: block;
    }
}

.inline-block {
    display: inline-block;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    white-space: nowrap;
    border: 0;
}

.mobile-only {
    display: block;
}

.desktop-only {
    display: none;
}

@include breakpoint('medium') {
    .desktop-only {
        display: block;
    }
    .mobile-only {
        display: none;
    }
}


// Position
.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.inherit {
    position: inherit;
}

.initial {
    position: initial;
}

.fixed {
    position: fixed;
}


// Flex
.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.flex-wrap {
    flex-wrap: wrap;
}

.justify-between {
    justify-content: space-between;
}

.justify-around {
    justify-content: space-around;
}

.justify-evenly {
    justify-content: space-evenly;
}

.justify-center {
    justify-content: center;
}

.justify-end {
    justify-content: flex-end;
}

.justify-start {
    justify-content: flex-start;
}

.items-center {
    align-items: center;
}

.items-end {
    align-items: flex-end;
}

.items-start {
    align-items: flex-start;
}

.align-self-center {
    align-self: center;
}

@include breakpoint('medium') {
    .large--flex-row {
        flex-direction: row;
    }
    .large--flex {
        display: flex;
    }
    .large--justify-start {
        justify-content: flex-start;
    }
}


// Grid
.grid {
    display: grid;
}

@include breakpoint('medium') {
    .large--grid {
        display: grid;
        grid-gap: 2rem;
    }
}

.columns-2 {
    grid-template-columns: repeat(2,1fr);
}

.columns-3 {
    grid-template-columns: repeat(3,1fr);
}

.columns-4 {
    grid-template-columns: repeat(4,1fr);
}

.span-2 {
    grid-column: 1 / span 2;
}

// Borders
.border {
    border: 2px solid;
}

.width-100 {
    width: 100%;
}

@include breakpoint('medium') {
    .large--width-auto {
        width: auto;
    }
}


// --- Global ------------------------- //
*,
*::before,
*::after {
    box-sizing: border-box;
}

@media (prefers-reduced-motion: no-preference) {
    html {
          scroll-behavior: smooth;
    }
}

html {
	font-size: 1rem;
    font-family: $font-base;
}

body {
    margin: 0;
    overflow-x: hidden;
}

img,
iframe {
    width: 100%;
    height: 100%;
}

iframe {
    min-height: 50vw;
    @include breakpoint('medium') {
        min-height: 26vw;
    }
}

main {
    @extend .relative;
}

// --- Wrappers ------------------------- //
.wrapper {
    padding: 0 $wrapper--medium;
    @include breakpoint('medium') {
        padding: 0 $wrapper--small;
    }
    @include breakpoint('large') {
        padding: 0 $wrapper--large;
    }
}

.wrapper-top {
    padding: $wrapper--medium 0;
    @include breakpoint('medium') {
        padding: $wrapper--small 0;
    }
    @include breakpoint('large') {
        padding: $wrapper--large 0;
    }
}


// --- Typography ------------------------- //
.heading-xxl {
    font-size: clamp(3.5rem, 5vw, 10rem);
    @include breakpoint('small') {
        font-size: clamp(5rem, 5vw, 10rem);
    }
    @include breakpoint('large') {
        font-size: clamp(10rem, 5vw, 10rem);
    }
}

.heading-xl {
    font-size: clamp(2.5rem, 5vw, 5rem);
    @include breakpoint('small') {
        font-size: clamp(3.5rem, 5vw, 5rem);
        line-height: 3.5rem;
    }
    @include breakpoint('large') {
        font-size: clamp(2.5rem, 5vw, 5rem);
        line-height: 5rem;
    }
}

.heading-lg {
    font-size: clamp(3rem, 7vw, 3rem);
}

.heading-md {
    font-size: clamp(1rem, 7vw, 1.1rem);
}

.heading-sm {
    font-size: clamp(0.5rem, 7vw, 1rem);
}

.text-center {
    text-align: center;
}

h1 {
    font-size: 40px;
    line-height: 36px;
}

h2 {
    color: $color-light;
    font-size: 2.1rem;
    margin: 1rem 0 10px 0;
    font-family: "UncutSans-Medium";
}

h3 {
    margin-bottom: 1rem;
    font-style: italic;
    letter-spacing: 1px;
}

h4 {
    @extend .heading-md;
    font-weight: 600;
}

h5 {
    color: $color-dark;
    font-family: "UncutSans-Semibold";
    @extend .heading-lg,
            .text-center;
}

h6 {
    font-size: 1.2rem;
    font-weight: 600;
    @include breakpoint('medium') {
        font-size: 1rem;
    }
}

p {
    font-size: 1.2rem;
    line-height: 28px;
    margin-bottom: 1rem;
    color: $color-dark;
    @include breakpoint('medium') {
        font-size: 1rem;
        line-height: 24px; 
    }
}

li {
    font-size: 1rem;
    line-height: 24px;
}


// --- Links ------------------------- //
a {
    color: $color-light;
    text-decoration: none;
}


.grid-item {
    @extend .flex,
            .flex-column;
    &:focus {
        outline: 3px solid $color-dark;
        outline-offset: 1px;
    }
}


// --- Buttons ------------------------- //
.button {
    background: $color-dark;
    color: $color-light;
    padding: 1rem;
    border-radius: 5px;
    border: 1px solid $color-dark;
    font-weight: 600;
    font-family: $font-base;
    letter-spacing: 1px;
    &:hover {
        background: $color-light;
        color: $color-dark;
        cursor: pointer;
    }
    &.inverted {
        background: $color-light;
        color: $color-dark;
        &:hover {
            background: $color-dark;
            color: $color-light;
            border: 1px solid $color-light;
        }
    }
    &:focus {
        outline: 3px solid $color-dark;
        outline-offset: 1px;
    }
}


.button-wrap {
    @extend .text-center;
    margin: $wrapper--large 0;
    margin-bottom: 0;
    .button {
        @extend .block;
        border: none;
        width: 100%;
        background: #e8e3d6;
        font-family: "UncutSans-Semibold";
        &:hover {
            outline: 2px solid;
            outline-offset: 2px;
        }
    }
    @include breakpoint('medium') {
        margin: 4rem;
        margin-bottom: 0;
        .button {
            display: inline;
            width: auto;
        }
    }
}


.main-content {
    &:focus {
        top: 30px;
        left: 30px;
        height: initial;
        width: inherit;
        margin: initial;
        clip: inherit;
        z-index: 2;
    }
}


// --- Inputs ------------------------- //
label {
    color: $color-dark;
    font-weight: 600;
    letter-spacing: 1px;
    margin: 10px 0;
    @include breakpoint('medium') {
        font-size: 14px;
    }
}

input,
textarea {
    border: 1px solid $color-dark;
    border-radius: 2px;
    padding: 0.8rem;
    font-family: $font-base;
}

textarea {
    resize: none;
}


// --- Header ------------------------- //
header {
    position: fixed;
    background: #e8e3d6;
    z-index: 2;
    left: 0;
    top: 0;
    padding: 0 $wrapper--large;
    @extend .width-100;
    .flex {
        @extend .large--flex,
                .large--justify-start,
                .justify-between,
                .text-center;
    }
    .navigation {
        @extend .flex,
                .items-center;
        ul {
            @extend .flex;
        }
        a {
            font-size: 1.2rem;
            &.active,
            &:hover {
                border-bottom: 2px solid;
            }
        }
    }
    img {
        height: 80px;
        width: 80px;
    }
    @include breakpoint('small') {
        padding: 1rem $wrapper--large;
        text-align: left;
        .navigation {
            margin-left: 2rem;
            li {
                margin: 0 2rem;
            }
        }
    }
}


// --- Portfolio: Grid ------------------------- //
.grid-item {
    margin-bottom: 2rem;
    img {
        object-fit: contain;
    }
    @include breakpoint('large') {
        margin-bottom: 0;
    }
}


// --- Contact ------------------------- //
#contact {
    h5 {
        @extend .text-center;
    }
    form {
        padding-bottom: 0;
        padding: 0;
    }
    @include breakpoint('medium') {
        form {
            max-width: 700px;
            margin: 0 auto;
            padding: $wrapper--medium;
        }
        .large--width-50 {
            width: calc(50% - 3px);
        }
    }
}


#portfolioGrid,
#mainGrid {
    @extend .large--grid,
            .columns-2,
            .flex,
            .flex-column;
}


.portfolio-filter-trigger {
    margin-bottom: 3rem;
    position: relative;
    display: inline-block;
    font-family: "UncutSans-Bold";
    &:hover {
        cursor: pointer;
    }
    &.active {
        &:before {
            transform: rotate(-45deg);
        }
        &:after {
            transform: rotate(45deg);
        }
    }
    &:before,
    &:after {
        content: '';
        background: #000;
        position: absolute;
        width: 12px;
        height: 2px;
        right: -28px;
        top: 8px;
    }
    &:before {
        transform: rotate(45deg);
        right: -21px;
    }
    &:after {
        transform: rotate(-45deg);
    }
    @include breakpoint('medium') {
        display: none;
    }
}

#portfolio-filters {
    display: none;
    padding: 2rem;
    margin-bottom: 3rem;
    border: 1px solid;
    @include breakpoint('medium') {
        display: block !important;
        border: none;
        margin-bottom: 0;
        padding: 0;
    }
}

#portfolioFilters {
    @extend .flex,
            .items-start,
            .flex-column,
            .justify-evenly;
    li {
        font-family: "UncutSans-Bold";
        margin-bottom: 1rem;
        &:hover {
            cursor: pointer;
            border-bottom: 1px solid;
        }
        &.active {
            border-bottom: 1px solid;
        }
    }
    @include breakpoint('medium') {
        margin-bottom: 3rem;
        flex-direction: row;
        align-items: center;
        li {
            text-align: center;
            margin-bottom: 0;
        }
    }
}

#portfolioGrid {
    .grid-item {
        p {
            display: none;
        }
        i {
            font-style: italic;
        }
        picture {
            @extend .block;
        }
        &:hover {
            picture {
                position: relative;
                &:after {
                    content: '';
                    height: 100%;
                    width: 100%;
                    background: #000;
                    position: absolute;
                    top: 0;
                    left: 0;
                    opacity: 0.8;
                    filter: opacity(0.6);
                }
            }
        }
    }
}


#mainContent {
    top: 160px;
}


#topSection {
    margin-bottom: 2rem;
    .info {
        b {
            font-family: "UncutSans-Bold";
        }
        i {
            font-style: italic;
        }
    }
    @include breakpoint('medium') {
        h2 {
            margin: 3rem 0;
        }
        .image,
        .info {
            width: calc(50% - 1rem);
        }
        .image {
            margin-right: 1rem;
        }
        .info {
            margin-left: 1rem;
        }
    }
}

// --- Footer ------------------------- //
footer {
    top: 200px;
    @extend .relative;
    * {
        color: $color-light;
    }
    .flex {
        @extend .flex,
                .items-start,
                .justify-between;
                padding: 2rem 2rem 1rem 2rem;
    }
    ul {
        order: 2;
        margin-bottom: 4rem;
    }
    h6,li,a {
        margin-bottom: 1rem;
    }
    p {
        text-align: center;
        padding-bottom: 3rem;
        font-size: 11px;
    }
    copyright {
        @extend .block,
                .text-center;
                padding: 0 2rem 0;
        font-size: 11px;
    }
    a {
        &:hover {
            text-decoration: underline;
        }
    }
    @include breakpoint('medium') {
        .flex {
            max-width: 500px;
            margin: 0 auto;
            flex-direction: row;
            align-items: center;
            padding: 4rem 0 0;
        }
        ul {
            margin-bottom: 0;
        }
        ul,
        .logo {
            order: initial;
        }
    }
}